page-feed-create {
  .profile-image-wrapper {
    text-align: center;
    margin: 20px 0;

    .profile-image {
      width: 96px;
      height: 96px;
      border-radius: 50%;

      display: inline-block;

      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .profile-image-placeholder {
      display: inline-block;

      background-color: #eee;
      width: 96px;
      height: 96px;
      border-radius: 50%;

      font-size: 12px;

      ion-icon {
        font-size: 44px;
        margin-bottom: -10px;
        margin-top: 10px;
      }
    }
  }

.smaller-text {
  font-size: smaller !important;
}

.grid {
  padding: 0 !important;
}

textarea {
  border-bottom: 1px solid #fcd700;
  box-shadow: 0 1px 0 0 #fcd700;
}

  .take-picture {
    z-index: 10000 !important;
  }

  .picture {    
    height: 200px;
  }

  .repairs-buttons ion-col{
    /*  background: gray;*/
    border: 1px solid #d3d3d3;
  }

  .border-it-right{
    border-right: 1px solid #d3d3d3;
  }

}

