<ion-header>

  <ion-navbar color="yellow">
    <ion-title>New Traffic Report</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="dark" showWhen="ios">
          Cancel
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons end> -->

        <!-- <span color="dark" showWhen="ios">
          Done
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon> -->
      <!-- </button> -->
    <!-- </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content>
  <form #createFeedsForm='ngForm' *ngIf="traffic_report.image" [style.backgroundColor]="'#fff'">
    <ion-item>
      <ion-label color="dark" floating>Current Location</ion-label>
      <ion-input type="text" [(ngModel)]="traffic_report.user_location" readonly required name="user_location" (focus)="set_geolocation()"></ion-input>
    </ion-item>    
    <ion-grid>
      <ion-row>
        <ion-col col-5 class="border-it-right">
          <ion-list radio-group [(ngModel)]="traffic_report.rating" name="rating">
            <ion-list-header>
              RATE TRAFFIC JAM
            </ion-list-header>
            <ion-item *ngFor="let traffic_rating of api.traffic_ratings" [style.fontSize]="'1rem'">
              <ion-label>{{traffic_rating}}</ion-label>
              <ion-radio color="cyan" value={{traffic_rating}}></ion-radio>
            </ion-item>
          </ion-list>        
        </ion-col>
        <ion-col col-7>
          <ion-list>
            <ion-list-header>
              CAUSE
            </ion-list-header>
            <ion-grid class="smaller-text">
              <ion-row *ngFor="let row of divide_to_rows(api.traffic_causes)">
                <ion-col width-25 *ngFor="let traffic_cause of row" [style.backgroundColor]="traffic_cause && traffic_cause.is_selected ? '#d3d3d3' : ''">
                  <div align="center" [hidden]="traffic_cause == null" (click)="select_traffic_cause(traffic_cause)">
                    <img *ngIf="traffic_cause && traffic_cause.icon_url" src={{api.get_image(traffic_cause.icon_url)}}><br/>
                    {{traffic_cause && traffic_cause.title}}
                  </div>
                </ion-col>  
              </ion-row>            
            </ion-grid>
          </ion-list>
        </ion-col>      
      </ion-row>
    </ion-grid>
    <!-- <ion-list> -->
      <ion-item>
        <!-- <ion-label color="dark" stacked>Share traffic details</ion-label> -->
        <ion-textarea [(ngModel)]="traffic_report.cause_of_traffic" placeholder="Share traffic details" name="cause_of_traffic"></ion-textarea>
      </ion-item>
    <!-- </ion-list> -->
  <div class="picture" [style.backgroundImage]="'url('+traffic_report.image+')'" [style.backgroundRepeat]="'no-repeat'" [style.backgroundSize]="'cover'" [style.backgroundPosition]="'center'"></div>     
  </form>
</ion-content>
<ion-footer no-border>
  <ion-toolbar class="custom-footer">
    <ion-fab center bottom *ngIf="traffic_report.image">
      <button ion-fab color="dark" (click)="takePicture()">
        <fa-icon name="close" color="yellow" [style.fontSize]="'3rem'"></fa-icon>
      </button>
    </ion-fab>  
    <ion-fab right bottom *ngIf="traffic_report.image">
      <button ion-fab color="success" (click)="create_traffic_report()">
        <ion-icon name="paper-plane" [style.fontSize]="'3rem'"></ion-icon>
      </button>
    </ion-fab>
  </ion-toolbar>
</ion-footer>
<!-- 
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
         <ion-icon name="camera"> </ion-icon>
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div> -->
