<ion-header>

  <ion-navbar color="yellow">
    <ion-title>Traffic-Dey Config</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form #settingsForm='ngForm'  (ngSubmit)="saveSettings()">
    <ion-list>
      <ion-item-divider item no-lines class="divider">Feeds</ion-item-divider>  
      <ion-item>
        <ion-label>Default feeds view</ion-label>
        <ion-select interface="popover" [(ngModel)]="settings.feeds_view" name="feeds_view"> 
        <ion-option value={{view}} *ngFor="let view of feeds_view_types">
            {{view}}
          </ion-option>
        </ion-select>        
      </ion-item>
      <ion-item>
        <ion-label item-start> Traffic reports feeds search distance from your current location</ion-label>
        <ion-badge item-end color="cyan">{{settings.distance}} miles</ion-badge>               
      </ion-item>
       <ion-range item color="yellow" [(ngModel)]="settings.distance" min="1" name="distance" step="1" max="30">
         <fa-icon small range-left name="map-pin" color="cyan"></fa-icon>
         <fa-icon range-right name="map-pin" color="cyan"></fa-icon>
       </ion-range>      
      <ion-item-divider item no-lines class="divider">Geolocation</ion-item-divider>            
      <ion-item>
        <ion-label> Enable High Accuracy </ion-label>
       <ion-toggle color="yellow" [(ngModel)]="settings.geolocation.enableHighAccuracy" name="enableHighAccuracy"></ion-toggle>
      </ion-item>
      <em item padding>
        Indicates the application would like to receive the best possible results. If true and if the device is able to provide a more accurate position, it will do so. Note that this can result in slower response times or increased power consumption (with a GPS chip on a mobile device for example). On the other hand, if false, the device can take the liberty to save resources by responding more quickly and/or using less power. Default: false.
        (optional)
      </em>    
      <ion-item>
        <ion-label item-start> Timeout</ion-label>
        <ion-badge item-end color="cyan">{{settings.geolocation.timeout/1000}} seconds</ion-badge>               
      </ion-item>
       <ion-range item color="yellow" [(ngModel)]="settings.geolocation.timeout" min="5000" name="timeout" step="1000" max="60000">
         <fa-icon small range-left name="hourglass-start" color="cyan"></fa-icon>
         <fa-icon range-right name="hourglass-end" color="cyan"></fa-icon>
       </ion-range>      
      <em item padding>
        Is a positive long value representing the maximum length of time (in milliseconds) the device is allowed to take in order to return a position. The default value is Infinity, meaning that getCurrentPosition() won't return until the position is available.
        (optional)
      </em> 
      <ion-item>
        <ion-label item-start> Maximum Age</ion-label>
        <ion-badge item-end color="cyan">{{settings.geolocation.maximumAge/1000}} seconds</ion-badge>               
      </ion-item>
       <ion-range item color="yellow" [(ngModel)]="settings.geolocation.maximumAge" min="0" name="maximumAge" step="1000" max="60000">
         <fa-icon small range-left name="hourglass-start" color="cyan"></fa-icon>
         <fa-icon range-right name="hourglass-end" color="cyan"></fa-icon>
       </ion-range>      
      <em item padding>
        Is a positive long value indicating the maximum age in milliseconds of a possible cached position that is acceptable to return. If set to 0, it means that the device cannot use a cached position and must attempt to retrieve the real current position. If set to Infinity the device must return a cached position regardless of its age. Default: 0.
        (optional)
      </em>              
    </ion-list>
    <div padding>
      <button ion-button color="cyan" block>Save</button>
    </div>   
<!-- 
    <ion-list *ngIf="page == 'profile'">
      <ion-item>[navPush]="subSettings" [navParams]="profileSettings"
        <ion-label>{{ 'SETTINGS_OPTION4' | translate }}</ion-label>
        <ion-input formControlName="option4"></ion-input>
      </ion-item>
    </ion-list> -->
  </form>

</ion-content>
