// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Empty. Add your own CSS if you like */

/* @import "../../node_modules/ionic2-auto-complete/auto-complete";

.ng-valid[required], .ng-valid.required {
  border-bottom: 5px solid #42A948; 
}

.ng-invalid[required], .ng-invalid.required {
  border-bottom: 5px solid #a94442; 
}*/

.custom .item {
  background-color: transparent !important;
  color: #fff;
  border-color: #666;
}

.pad-right {
  padding-right:5%;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent !important;
}

.custom .item:last-child {
  border-bottom: 1px solid transparent;
}

.custom .item:first-child {
  border-top: 1px solid transparent;
}


.logo-side-menu {  
  width: 16em; 
}

.custom-footer {
    min-height: 4.8em !important;
} 

.circle-frame {
  display: block;
  height: 8em;
  width: 8em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
   border-radius: 100%;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.user_details{
	color: #fff;
}

.user_details h4 {
	color: #fff;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.full-alert-box{
  .alert-wrapper{ 
    max-width: 100% !important;
    width: auto !important;
    
    .alert-head{
      background-color: #fcd700;
    }

    .alert-message{
      max-height: 100% !important;  
      // margin-bottom: 3em;
    }

    .alert-radio-group{
      //max-height: 100%;
      // margin-bottom: 3em;      
    }

    .alert-radio-group, .alert-md .alert-checkbox-group {        
        max-height: 100% !important;        
    }

   .alert-button-group{   
      button {        
        background-color: #222;
        color: #fff !important;
      }    
    }

  } 
}

@media only screen and (max-height: 570px) {
    .full-alert-box{
  .alert-wrapper{ 
    .alert-radio-group, .alert-md .alert-checkbox-group {        
        max-height: 300px !important;        
    }

    .alert-message{
      max-height: 300px !important;
      // margin-bottom: 3em;
    }   
    }
    } 
}

.multiple-select-alert {
  .alert-wrapper{
    max-height: 100% !important;    
    max-width: 100% !important;  
    height: auto !important;
    width: auto !important;

    .alert-message{
      // max-height: 100%;
      margin-bottom: 2em;
    }

    .alert-radio-group{
      //max-height: 100%;
      // margin-bottom: 0.5em;      
    }  
    .alert-checkbox-group{
      margin-bottom: 4em;  
    }

    .alert-button-group{
      // position: absolute;
      // bottom: 0px;
      // width: 100%;      
      button {        
        background-color: #222;
        color: #fff !important;
      }
    }

  }    
}

