<ion-menu [content]="content">
    <ion-header class="dark hide">
      <ion-toolbar>
        <ion-title>Traffic-Dey</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content *ngIf="user_session" [style.backgroundImage]="'url('+menu_background+')'" [style.backgroundRepeat]="'no-repeat'" [style.backgroundSize]="'cover'" [style.backgroundColor]="'#111'" [style.width]="'100%'" [style.height]="'100%'" class="custom">
    <div align="center">
      <img class="logo-side-menu" [src]="'assets/img/logo-white.png'"/>
    </div>
    <div align="center" class="user_details" myclick="editUser()" [style.paddingTop]="'0.5em'" [style.marginBottom]="'0.9em'" >    
    <img class="circle-frame" [src]="api.get_avatar(user_session.get_pix_url)"/>
    <h4 class="large" ng-show="!app_Online" myclick="editUser()">{{user_session.full_name}}</h4>
    <span>
      <span class="pad-right"><ion-icon name="heart" color="danger" [style.fontSize]="'20px'" [style.verticalAlign]="'middle'"></ion-icon> 234</span>
      <span class="pad-right" [style.color]="'#f0ad4e'"> @{{user_session.username}} </span>
      <fa-icon [style.verticalAlign]="'middle'"  [style.fontSize]="'20px'" name="commenting-o" color="" ></fa-icon> 81      
    </span>
    </div>      
    <ion-list>
<!--       <ion-item menuClose navClear (click)="openPage(MapPage)">
        <ion-icon [style.fontSize]="'30px'" [style.verticalAlign]="'middle'" name="map"> </ion-icon> &nbsp;&nbsp; Traffic Map
      </ion-item> -->
      <ion-item menuClose navClear (click)="openPage('FeedsPage')">
        <ion-icon [style.fontSize]="'30px'" [style.verticalAlign]="'middle'" name="logo-rss"> </ion-icon> &nbsp;&nbsp; Feeds
        <ion-badge color="danger" item-end>22</ion-badge>
      </ion-item>
      <ion-item menuClose navClear (click)="openPage(ListMasterPage)">
        <ion-icon [style.fontSize]="'30px'" [style.verticalAlign]="'middle'" name="navigate"> </ion-icon> &nbsp;&nbsp; Favourite Routes
      </ion-item>
      <ion-item menuClose navClear (click)="openPage(ListMasterPage)">
        <ion-icon [style.fontSize]="'30px'" [style.verticalAlign]="'middle'" name="people"> </ion-icon> &nbsp;&nbsp; Followers
         <ion-badge color="success" item-end>50</ion-badge>
      </ion-item>
      <ion-item menuClose navClear (click)="openPage(MenuPage)">
        <ion-icon [style.fontSize]="'30px'" [style.verticalAlign]="'middle'" name="thumbs-up" > </ion-icon> &nbsp;&nbsp; My Points
        <ion-badge item-end>700</ion-badge>
      </ion-item>
      <ion-item menuClose navClear (click)="nav.push('SettingsPage')">  
        <ion-icon [style.fontSize]="'30px'" [style.verticalAlign]="'middle'" name="settings"></ion-icon>&nbsp;&nbsp; Settings
      </ion-item>       
      <ion-item *ngIf="api.getUserEmail()"  menuClose navClear (click)="logout()">
        <ion-icon [style.fontSize]="'30px'" [style.verticalAlign]="'middle'" name="log-out"> </ion-icon> &nbsp;&nbsp; Log Out
      </ion-item>                              
    </ion-list>
  </ion-content>

<!--   <ion-footer>
    <ion-item  [style.backgroundColor]="'#3b5264'" [style.color]="'#FFF'">  
      <ion-icon item-left name="settings" [style.fontSize]="'2em'" (click)="nav.push('SettingsPage')"></ion-icon>
    </ion-item>      
  </ion-footer> -->
  </ion-menu>
  <ion-nav #content [root]="rootPage"></ion-nav>

  <!-- style="padding-top:30%" -->