page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.png') no-repeat transparent;
    //background-size: cover;
    height: 10em;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -3em;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    background: url('../assets/img/appicon.png') repeat transparent;
    background-size: 100%;
    width: 6em;
    height: 6em;
  }
  .splash-intro {
    font-size: 1.3em;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
/*  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }*/
.button-round {
    border-radius: 50%;
    height: 4em;
    width: 4em; 
    padding: 0px;
    display: inline-block;    
} 

  @media only screen and (max-height: 570px) {
    [ion-fixed] {
      overflow-y:scroll !important;
    } 
    .splash-bg {
      height: 8em !important;
    }    
  }

}
