<ion-content ion-fixed>
<!--  <div ion-fixed> -->
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro" [style.color]="'#222'">
      Drive better with Traffic-Dey
    </div>
  </div>
  <div padding [style.textAlign]="'center'">
    <form #signInForm='ngForm'  (ngSubmit)="doLogin()">
      <!-- <ion-list> -->

        <ion-item>
          <ion-label><ion-icon name="person" color="dark" > </ion-icon></ion-label>
          <ion-input type="email" [(ngModel)]="account.login" name="email"></ion-input>
        </ion-item>

        <!--
        Want to use a Username instead of an Email? Here you go:

        <ion-item>{{ 'EMAIL' | translate }} {{ 'PASSWORD' | translate }}
          <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
          <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>
        -->

        <ion-item>
          <ion-label><ion-icon name="lock" color="dark" > </ion-icon></ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>

        <div padding>
          <button ion-button color="dark" block>Sign in</button>
        </div>
          <span [style.fontSize]="'2rem'" [style.color]="'#222'"> 
          Forgot password <fa-icon  color="dark" name="question-circle-o"> </fa-icon> 
          </span>
      <!-- </ion-list>       -->
    </form>
  <!-- <button ion-button block (click)="login()" class="login">{{ 'LOGIN' | translate }}</button>   -->
    <div padding>
      <button ion-button block (click)="signup()" outline color="dark">Sign up</button>
    </div>
    <span [style.fontSize]="'2rem'" [style.color]="'#222'"> 
        Sign in with:
        <ion-grid class="">
          <ion-row>
            <ion-col>
              <button ion-button round outline color="dark"><fa-icon name="facebook" [style.fontSize]="'2rem'"></fa-icon></button>
            </ion-col>
          <ion-col>  
            <button ion-button round  color="dark"><fa-icon name="twitter" [style.fontSize]="'2rem'"></fa-icon></button>
          </ion-col>
          <ion-col>
            <button ion-button round outline color="dark"><fa-icon name="google-plus" [style.fontSize]="'2rem'"></fa-icon></button>
          </ion-col>            
        </ion-row>
        </ion-grid>        

    </span>    
  </div>
  <!-- </div> -->
</ion-content>
