<ion-content ion-fixed>
 <!-- <div ion-fixed> -->
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div [class]="pix_class" [style.background]="'url('+pix_url+')'" [style.backgroundRepeat]="'no-repeat'" [style.backgroundSize]="'cover'" (click)="showPhotoActionSheet()">
      <ion-icon *ngIf="show_camera" name="camera"></ion-icon>
    </div>
    <div class="splash-intro">
      Register to use Traffic-Dey
    </div>
  </div>
  <form #signUpForm='ngForm' (ngSubmit)="doSignup()" [style.textAlign]="'center'">
    <ion-list>

      <div>
        <span [style.float]="'left'" [style.width]="'50%'">
          <ion-item>
            <ion-label color="dark" floating>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="account.first_name" required name="first_name"></ion-input>
          </ion-item>
        </span>

        <span [style.float]="'right'" [style.width]="'50%'">
          <ion-item>
            <ion-label color="dark" floating>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="account.last_name" required name="last_name"></ion-input>
          </ion-item>
        </span>
      </div>
      <ion-item>
        <ion-label color="dark" floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" required name="email" email></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="dark" floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" required name="username"></ion-input>
      </ion-item>
      <div>
        <span [style.float]="'left'" [style.width]="'50%'">
          <ion-item>
            <ion-label color="dark" floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="account.password" required name="password"></ion-input>
          </ion-item>
        </span>
      
        <span [style.float]="'right'" [style.width]="'50%'">
          <ion-item>
            <ion-label color="dark" floating>Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="account.password_confirmation" required name="password_confirmation"></ion-input>
          </ion-item>
        </span>      
      </div>    
    </ion-list>       
<!--       <div padding>
        <button ion-button color="dark" round>Sign up</button>
      </div> -->
  </form>
      <br [style.clear]="'both'">
      <h4 [style.fontSize]="'1.4em'" class="prev" align="center" [style.color]="'#222'" (click)="navCtrl.pop()"> 
          Already have an account <fa-icon  color="dark" name="question-circle-o"> </fa-icon> 
      </h4>

      <ion-fab right bottom>
          <button ion-fab color="dark" (click)="doSignup()">
              <fa-icon name="floppy-o" color="light" [style.fontSize]="'1.5em'"></fa-icon>
          </button>
      </ion-fab>    
  <!-- </div> -->
</ion-content>
