page-signup {
.splash-bg {
    position: relative;
    background: url('../assets/img/splashbg_02.png') no-repeat transparent;
    //background-size: cover;
    height: 10em;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -3em;
    text-align: center;
  }
  .splash-logo {
    margin: auto;    
    background-size: 100% !important;
    width: 6em;
    height: 6em;
  }
  .camera-icon{
    margin: auto;
  	width: 6em;
  	height: 6em;
  	background: #d3d3d3;
  	-webkit-border-radius: 100%;
  	-moz-border-radius: 100%;
   	border-radius: 100%;
  	border: 5px solid #eee;
  	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3); 
  	display: table;

  	ion-icon {
  		font-size: 3em;
  		color: #a8a8a8;
  		display: table-cell;
    	vertical-align: middle;
  	} 
  }  
  .splash-intro {
    font-size: 1.3em;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }

  @media only screen and (max-height: 570px) {
    [ion-fixed] {
      overflow-y:scroll !important;
    } 
    .splash-bg {
      height: 8em !important;
    }

    .prev {
      font-size: 1em !important;
    }
    .fab{
      width: 46px;
      height: 46px;
    }

    .item {
      padding-left: 3px;
      font-size: 1.4rem;
    }    
  }  
 
}

/*background: url('../assets/img/appicon.png') repeat transparent;   [ion-fixed] {
    width: 100% !important;
    height: 100% !important;
  } */
