page-feeds {
	.img-container {
	    width: 100%;
	    /*height: 31rem;*/	    
	}

	/* resize images */
	.img-container img {
	    height: auto;
	}

	.comment ion-label {
	    flex: 0 0 40px !important;	    
	    min-width: 40px !important;
	}

	.ui-mention-container {
	  position: relative;
	  [ui-mention] {
	    min-height: 100px;
	    background: none;
	    position: relative;
	    z-index: 2;
	    box-sizing: content-box; // Prevent scrollbar for autogrow
	  }
	  .ui-mention-highlight {
	      white-space: pre-wrap;
	      position: absolute;
	      top: 0;
	      bottom: 0;
	      left: 0;
	      right: 0;
	      background: white;
	      color: rgba(0,0,0,0);
	      z-index: 1;
	      span {
	        border-radius: 2px;
	        background-color: lightblue;
	        border: 1px solid blue;
	        padding: 0 2px;
	        margin: -1px -3px;
	      }
	  }
	  .dropdown {
	    position: absolute;
	    top: 100%;
	    left: 0;
	  }
	}

.card-container{
	position: relative;
}

.card-container .heart-container {
    position: absolute;
    width: 10em;
    height: 10em;
    top: 50%;
    left: 50%;
    margin-top: -9.5em;
    margin-left: -5em;
}

.card-container .heart-container:before {
  content: '';
  display: inline-block ;
}

.card-container .heart-container > .heart {
	position: relative;
  	font-size: 5em;
  	opacity: 0;
  	vertical-align: middle;
  	-webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.card-container.active .heart-container > .heart {
	font-size: 10em;
  	opacity: 1;
}		

}
