<ion-header>
  <ion-navbar color="yellow">
    <button ion-button menuToggle>
      <fa-icon name="bars" [style.fontSize]="'1.8em'"></fa-icon>
    </button>  
    <ion-title>Feeds</ion-title>

    <ion-buttons end>
      <button ion-button (click)="navCtrl.push('SettingsPage')">
        <fa-icon name="cog" [style.fontSize]="'1.8em'"></fa-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
<ion-toolbar>
    <ion-segment [(ngModel)]="segments" color="dark" (ionChange)="onSegmentChange()">
      <ion-segment-button value="route">
        Route
      </ion-segment-button>
      <ion-segment-button value="pinned">
        Pinned Locations
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [hidden]="view_type != 'list'">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="keyword" [showCancelButton]="true" *ngIf="traffic_reports.length > 0" placeholder="Filter"> </ion-searchbar>
  <ion-card *ngFor="let traffic_report of traffic_reports | myfilter : keyword; let i = index;" [class]="traffic_report.card_class" [id]="'js-card-container-'+traffic_report.id" (dbltap)="like_traffic_report(traffic_report, i)">
    <div class="heart-container">
      <fa-icon name="heart" class="heart" color="white" [style.fontSize]="'10em'" [id]="'js-heart-image-'+traffic_report.id"> </fa-icon> 
    </div>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="api.get_avatar(traffic_report.user.get_pix_url)">
      </ion-avatar>
      <h2>@{{traffic_report.user.username}}</h2>
      <p [style.color]="'#850707'"> {{traffic_report.user_location}}{{traffic_report.rating && " - "+traffic_report.rating}}</p>
<!--       <span item-end>
      just now
        <br/>
        <fa-icon name="heart-o" color="red"></fa-icon> 23
      </span> -->
      <button item-end ion-button icon-left clear small (click)="presentActionSheet(traffic_report, i)">
        <ion-icon [style.fontSize]="'2em'" color="dark" name="more"></ion-icon>
      </button>      
    </ion-item>
    <img [src]="api.get_image(traffic_report.picture_url)">
<!--     <ion-item class="img-container">
      
    </ion-item> -->

    <ion-card-content>
      <p>{{traffic_report.cause_of_traffic}}<span [style.color]="'#850707'">{{traffic_report.traffic_cause && " - "+traffic_report.traffic_cause.title}}</span>
      </p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="like_traffic_report(traffic_report, i)">
          <ion-icon [style.fontSize]="'2em'" [name]="traffic_report.i_liked ? 'heart' : 'ios-heart-outline'" [color]="traffic_report.i_liked ? 'danger' : 'dark'"></ion-icon>
          <div [style.color]="traffic_report.i_liked ? '#f53d3d' : '#222'">{{traffic_report.likers_count}}</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="toggle_comment_box(traffic_report, i)">
          <ion-icon [style.fontSize]="'2em'" color="dark" name="text"></ion-icon>
          <div [style.color]="'#222'">{{traffic_report.comments_count}}</div>
        </button>
      </ion-col>
<!--       <ion-col>
        <button ion-button icon-left clear small (click)="delete_traffic_report(traffic_report, i)">
          <ion-icon [style.fontSize]="'2em'" color="danger" name="trash"></ion-icon>
        </button>
      </ion-col>  -->     
      <ion-col center text-center>
        <ion-note color="cyan">
          {{traffic_report.created_at | amTimeAgo:true }} ago
        </ion-note>
      </ion-col>
    </ion-row>
    <div padding *ngIf="traffic_report.comments.length > 0">
      <p [style.padding]="'1em 0 1em 0'" *ngIf="traffic_report.comments.length > 2" (click)="load_more_comments(traffic_report, index)"> Load more comments </p>           
      <p [style.paddingRight]="'1.5em'" *ngFor="let comment of get_last_two_comments(traffic_report, index)">
        <span [style.color]="'#000'">@{{comment.user.username}}</span> <span>{{comment.comment}}</span>
      </p>
    </div>
    <ion-list *ngIf="traffic_report.show_comment_field">
      <ion-item class="comment">
        <!-- <ion-label color="grey" fixed><ion-icon name="chatboxes" [style.fontSize]="'1.5em'"> </ion-icon></ion-label> [style.color]="'#488aff'" -->         
        <ion-textarea type="text" [(ngModel)]="comment[traffic_report.id]" [mention]="followers" [mentionConfig]="{triggerChar:'@',maxItems:10,labelKey:'username'}" placeholder="Add a comment..." name={{traffic_report.id}}></ion-textarea>
        <button ion-button outline color="dark"  item-end [style.fontSize]="'1em'" [style.fontWeight]="'bold'" (click)="postComment(traffic_report, i)">
          Post
        </button>
      </ion-item>
    </ion-list>
    <!-- <ion-list *ngIf="filter_followers().length > 0 && show_followers">
      <ion-item *ngFor="let follower of filter_followers()" (click)="select_follower(follower)">
        <ion-avatar item-start>
          <img [src]="api.get_avatar(follower.get_pix_url)" />
        </ion-avatar>
        <p [style.whiteSpace]="'normal'">
          <span [style.color]="'#000'">@{{follower.username}}</span><br/>
          <span> {{follower.full_name}} </span>
        </p>
      </ion-item>
    </ion-list> -->  
  </ion-card>

  <ion-infinite-scroll *ngIf="loadMoreData" (ionInfinite)="set_geo_location_and_fetch_reports($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
   <!-- <div #listmap id="listmap" [hidden]="true"></div>   -->
</ion-content>

<ion-content [hidden]="view_type != 'map'">
  <div #map id="map"></div>

</ion-content>
<ion-footer no-border>

  <ion-toolbar class="custom-footer">
    <ion-fab right bottom [hidden]="view_type != 'map'">
        <button ion-fab mini color="dark" (click)="set_view_type('list')">
            <fa-icon name="list-ul" color="yellow" [style.fontSize]="'1.5em'"></fa-icon>
        </button>
    </ion-fab>
  <ion-fab right bottom [hidden]="view_type != 'list'">
      <button ion-fab mini color="dark" (click)="set_view_type('map')">
          <fa-icon name="globe" color="yellow" [style.fontSize]="'1.5em'"></fa-icon>
      </button>
  </ion-fab>
 <ion-fab center bottom>
      <button ion-fab mini color="dark" (click)="addItem()">
          <fa-icon name="plus-circle" color="yellow" [style.fontSize]="'1.5em'"></fa-icon>
      </button>
  </ion-fab> 
 <ion-fab left bottom>
      <button ion-fab mini color="dark" (click)="get_reverse_geocode()">
          <fa-icon name="thumb-tack" color="yellow" [style.fontSize]="'1.5em'"></fa-icon>
      </button>
  </ion-fab>       
  </ion-toolbar>

</ion-footer>







