<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="yellow">
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let comment of traffic_report.comments">
      <ion-avatar item-start>
        <img [src]="api.get_avatar(comment.user.get_pix_url)" />
      </ion-avatar>
      <p [style.whiteSpace]="'normal'">
      	<span [style.color]="'#000'">@{{comment.user.username}}</span> <span>{{comment.comment}}</span>
      </p>
      <ion-icon item-end [style.fontSize]="'1.5em'" color="danger" name="ios-heart-outline" ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
